# objects
*.o

# final binaries
parsniptheory
parsniptheory-linux-i386
parsniptheory-freebsd-i386
parsniptheory-freebsd-amd64
parsniptheory-windows-i386.exe
parsnipserver
parsnipserver-linux-i386
parsnipserver-freebsd-i386
parsnipserver-freebsd-amd64
parsnipserver-windows-i386.exe
*.res
*.html
*.js
*.data
libs/
rel/

# other stuff
tga/pixra
tga/dat/font8.tga
crap/
*.tmp

# admission that i'm not actually perfect
*.core
vgcore.*

# windows build crap
winlibs/
*.dll

# windows crap i mean why the hell does it do this crap
stdout.txt
stderr.txt

# backups, just in case you can't configure your editor properly
*.bak
*~

# gprof
gmon.out

# kate
*.kate-swp

# vim
.*.swp
.*.swo

# visual studio files (personal config and whatnot)
*.suo
*.ncb
*.user

# build stuff
build/*
wbuild/*

